body {
  margin: 0;
  background-color: #058ED9;
}
header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  border-top: 5px solid #058ED9;
  border-bottom: 1px solid #BBBBBB;
}

#site-name {
  background-color: black;
  padding: 15px;
  font-family: 'Arvo', serif;
  font-style: italic;
  margin-bottom: 10px;
  color: white;
  font-size: 28px;
}

#site-name a {
  cursor: pointer;
  color: white;
  text-decoration: none;
}

nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

nav a {
  color: black;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Arvo', serif;
  font-weight: 400;
  font-size: 14px;
  margin: 0 0 0 20px;
  padding: 25px 10px 10px 10px;

}

nav a:hover {
  color: white;
  background-color: black;
  height: 30px;
}

#featured {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background-color: #F0F0F0;
}

#featured img {
  width: 40%;
  height: 40%;
}

#featured-content {
  padding-left: 20px;
  width: 60%;
}

#featured-duration {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 14px;
  margin: 0;
}

#featured-title {
  font-family: 'Radley', serif;
  font-size: 42px;
  margin: 0;
}

#featured-desc {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

#featured-button {
  background-color: #FF8A5B;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: white;
  width: 150px;
  margin: auto;
  border: 0;
  padding: 10px;
}

#featured-button:hover {
  background-color: #FBD1A2;
  color: #058ED9;
}

.playlists {
  background-color: #E0E9FF;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  background-image: url("http://www.themesltd.com/backgrounds/black-and-white/white_and_black_zags.png");
}

.playlists a {
  text-decoration: none;
  width: 40%;
}

.playlist {
  margin: 10px;
  background-color: white;
  box-shadow: 1px 1px 1px #BBBBBB;
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  border: 10px solid white;
}

.playlist-content {
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  padding: 0 20px;
}

.playlist:hover{
  border: 10px solid #058ED9;
}

.playlist-title {
  font-family: 'Radley', serif;
  font-size: 32px;
  margin: 0;
}

.playlist-duration {
  font-weight: 300;
  font-size: 14px;
  margin: 0;
}

.playlist img {
  width: 100%;
}

footer {
  font-family: 'Arvo', serif;
  color: white;
  margin: 20px;
  font-size: 14px;
}

footer p {
  text-decoration: none;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
}

footer p a {
  color: white;
  text-decoration: none;
  color: #FBD1A2;
}

footer a:hover {
  cursor: pointer;
  color: white;
}

.follow {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.follow a {
  padding: 15px;
  text-decoration: none;
  color: white;
}

.follow a:hover {
  cursor: pointer;
  color: #058ED9;
  background-color: #FBD1A2;
}