.podlist {
  background: url('https://snap-photos.s3.amazonaws.com/img-thumbs/960w/E7CD4AAEF3.jpg') no-repeat;
  background-size: cover;
  height: 450px;
  position: relative;
}

.background-tamer {
  position: absolute;
  background-color: black;
  opacity: 0.6;
  width: 100%;
  height: 450px;
}

.inline {
  height: 450px;
  position: static;
}

.podlist-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.podlist-title {
  font-family: 'Radley', serif;
  font-size: 56px;
  color: white;
  text-align: center;
}
.podlist-content {
  margin: auto;
}

.audio {
  margin: 0 auto;
}

.share-playlist {
  padding: 10px 0 10px 0;
  background-color: #F0F0F0;
}

.share-icons {
  margin: 0;
  padding-left: 15px;
}

.share-icons > li {
  display: inline-block;
  padding-right: 20px;
}
